{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Do you want to call or dewarn the witness?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{witness.firstName}} {{witness.lastName}} - update witness options</span>
      <form method="post">
        {{ govukRadios({
          name: "editOptions[callOrDewarn]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.editOptions.callOrDewarn or witness.callOrDewarn,
          items: callOrDewarnItems
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}