{% set filterOptionsHtml %}

  {{ appCheckboxFilter({
    idPrefix: "taskListFilters[owner]",
    name: "taskListFilters[owner]",
    classes: "govuk-checkboxes--small owner-filter",
    attributes: { id: 'owner-filter' },
    fieldset: { legend: { text: "Owner", classes: "govuk-fieldset__legend--s" } },
    maxHeight: true,
    items: ownerItems,
    values: selectedOwnerFilters,
    selectedItems: selectedOwnerItems
  }) }}

  {{ govukCheckboxes({
    idPrefix: "taskListFilters[units]",
    name: "taskListFilters[units]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Unit",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: unitItems,
    values: selectedUnitFilters
  }) }}

  {{ govukCheckboxes({
    idPrefix: "taskListFilters[taskTypes]",
    name: "taskListFilters[taskTypes]",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: "Type",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: taskTypeItems,
    values: selectedTaskTypeFilters
  }) }}

  {{ appCheckboxFilter({
    idPrefix: "taskListFilters[taskNames]",
    name: "taskListFilters[taskNames]",
    classes: "govuk-checkboxes--small task-name-filter",
    attributes: { id: 'task-name-filter' },
    fieldset: { legend: { text: "Task", classes: "govuk-fieldset__legend--s" } },
    maxHeight: true,
    items: taskNameItems,
    values: selectedTaskNameFilters,
    selectedItems: selectedTaskNameItems
  }) }}

{% endset %}

<div class="app-filter">
  <div class="app-filter__header">
    <div class="app-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>
    <div class="app-filter__header-action">

    </div>
  </div>
  <div class="app-filter__content">
    {% if selectedFilters.categories.length %}
      <div class="app-filter__selected">
        <div class="app-filter__selected-heading">
          <div class="app-filter__heading-title">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h2>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/tasks/clear-filters">Clear filters</a></p>
          </div>
        </div>
        {% for category in selectedFilters.categories %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.text }}</h3>
          <ul class="app-filter-tags">
            {% for item in category.items %}
              <li><a class="app-filter__tag" href="{{item.href}}"><span class="govuk-visually-hidden">Remove this filter</span> {{item.text}}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}
    <div class="app-filter__options">
      <form method="get" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{filterOptionsHtml | safe}}
      </form>
    </div>
  </div>
</div>
