<div class="app-sort">
  <p>
    <b class="govuk-!-margin-right-1">Sort by:</b>
    {% if data.taskSort == 'Due date' or not data.taskSort %}
      <span class="">Due date</span>
    {% else %}
      <a  href="?taskSort=Due date">Due date</a>
    {% endif %}
    <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span>
    {% if data.taskSort == 'Time limit' or data.taskSort == 'Custody time limit' %}
      <span>Time limit</span>
    {% else %}
      <a href="?taskSort=Time limit">Time limit</a>
    {% endif %}
    <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span>
    {% if data.taskSort == 'Hearing date' %}
      <span>Hearing date</span>
    {% else %}
      <a href="?taskSort=Hearing date">Hearing date</a>
    {% endif %}
  </p>
</div>
