<div class="app-sort">
  <p class="govuk-!-font-size-1">
    <b class="govuk-!-margin-right-1">Sort by:</b>
    {% if data.taskSort == 'Due date' or not data.taskSort %}
      <span class="">Due date</span>
    {% else %}
      <a  href="?taskSort=Due date">Due date</a>
    {% endif %}
    <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span>
    {% if data.taskSort == 'Hearing date' %}
      <span>Hearing date</span>
    {% else %}
      <a href="?taskSort=Hearing date">Hearing date</a>
    {% endif %}
    <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span>
    {% if data.taskSort == 'PACE clock' %}
      <span>PACE clock</span>
    {% else %}
      <a href="?taskSort=PACE clock">PACE clock</a>
    {% endif %}
    <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span>
    {% if data.taskSort == 'Custody time limit' %}
      <span>CTL</span>
    {% else %}
      <a href="?taskSort=Custody time limit">CTL</a>
    {% endif %}
    <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">|</span>
    {% if data.taskSort == 'Statutory time limit' %}
      <span>STL</span>
    {% else %}
      <a href="?taskSort=Statutory time limit">STL</a>
    {% endif %}
  </p>
</div>
