{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'availability' %}
{% set defendantName = _case.defendants[0].firstName + ' ' + _case.defendants[0].lastName %}
{% set witnessName = witness.firstName + ' ' + witness.lastName %}
{% set pageName = witnessName %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: _case.reference,
        href: "/cases/:caseId" | replace(':caseId', _case.id)
      },
      {
        text: 'Witnesses',
        href: "/cases/:caseId/witnesses" | replace(':caseId', _case.id)
      },
      {
        text: pageName
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <h1 class="govuk-heading-l">{{ pageName }}</h1>

  {% include "_includes/witness/navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Court attendance</h2>
      {% if witness.isAppearingInCourt == true %}
        {# <p>Witness called.</p> #}
        <p><a class="govuk-link--no-visited-state" href="/cases/{{_case.id}}/witnesses/{{witness.id}}/mark-as-not-attending-court">Mark as not attending court</a></p>
      {% elseif witness.isAppearingInCourt == false %}
        {# <p>Witness dewarned.</p> #}
        <p><a class="govuk-link--no-visited-state" href="/cases/{{_case.id}}/witnesses/{{witness.id}}/mark-as-attending-court">Mark as attending court</a></p>
      {% else %}
        <p><a class="govuk-link--no-visited-state" href="/cases/{{_case.id}}/witnesses/{{witness.id}}/mark-as-attending-court">Mark as attending court</a></p>
      {% endif %}

      <h2 class="govuk-heading-m">Availability</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Available from"
            },
            value: {
              text: witness.courtAvailabilityStartDate | isoDateString | govukDate
            }
          },
          {
            key: {
              text: "Available to"
            },
            value: {
              text: witness.courtAvailabilityEndDate | isoDateString | govukDate
            }
          },
          {
            key: {
              text: "Unavailable dates"
            },
            value: {
              text: "None"
            }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
