{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'witnesses' %}
{% set pageName = 'Witnesses' %}

{% block beforeContent %}
  {% include "_includes/case/identity-bar.njk" %}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}
  {% include "_includes/case/navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{pageName}}</h1>
      
      {% if _case.witnesses.length %}
          {% for witness in _case.witnesses %}
            {% if witness.isAppearingInCourt %}
              {% set attendanceStatus = 'Attending court' %}
            {% elseif witness.isAppearingInCourt == false %}
              {% set attendanceStatus = 'Not attending court' %}
            {% endif %}

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title govuk-!-font-size-27">
                  {{witness.firstName}} {{witness.lastName}}

                  {{ govukTag({
                    classes: 'govuk-!-margin-left-1',
                    text: "Victim"
                  }) if witness.isVictim }}

                  {{ govukTag({
                    classes: 'govuk-!-margin-left-1',
                    text: "Key witness"
                  }) if witness.isKeyWitness }}

                  {{ govukTag({
                    classes: 'govuk-!-margin-left-1',
                    text: "Child"
                  }) if witness.isChild }}

                  {{ govukTag({
                    classes: 'govuk-!-margin-left-1',
                    text: "Expert"
                  }) if witness.isExpert }}

                  {{ govukTag({
                    classes: 'govuk-!-margin-left-1',
                    text: "Interpreter"
                  }) if witness.isInterpreter }}

                  {{ govukTag({
                    classes: 'govuk-!-margin-left-1',
                    text: "Police"
                  }) if witness.isPolice }}

                  {{ govukTag({
                    classes: 'govuk-!-margin-left-1',
                    text: "Professional"
                  }) if witness.isProfessional }}

                  {{ govukTag({
                    classes: 'govuk-!-margin-left-1',
                    text: "Prisoner"
                  }) if witness.isPrisoner }}

                  {{ govukTag({
                    classes: 'govuk-!-margin-left-1',
                    text: "Vulnerable"
                  }) if witness.isVulnerable }}

                  {{ govukTag({
                    classes: 'govuk-!-margin-left-1',
                    text: "Intimidated"
                  }) if witness.isIntimidated }}

                  {% if attendanceStatus %} {{ govukTag({ text: attendanceStatus, classes: 'govuk-!-margin-left-1' }) }}{% endif %}

                  <a href="/cases/{{_case.id}}/witnesses/{{witness.id}}" style="text-decoration: none;">&nbsp;&nbsp;&nbsp;</a>
                </h2>
                
              </div>
              <div class="govuk-summary-card__content">
                {% set statementsTab %}
                   

                {% if witness.statements.length > 0 %}

                  {% for statement in witness.statements %}

                    {% set section9Status = '' %}
                    {% if statement.isMarkedAsSection9 == true %}
                      {% set section9Status = 'Section 9' %}
                    {% elseif statement.isMarkedAsSection9 == false %}
                      {# {% set section9Status = 'Section 9 withdrawn' %} #}
                    {% endif %}

                    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                      Statement {{loop.index}}
                      {% if section9Status %} {{ govukTag({ text: section9Status, classes: 'govuk-!-margin-left-1' }) }}{% endif %}
                    </h3>
                    
                    <div class="govuk-button-group govuk-!-margin-bottom-0">
                      <a class="govuk-link govuk-link--no-visited-state" href="#">View statement</a>
                      {% if statement.isMarkedAsSection9 == true %}
                      <a class="govuk-link--no-visited-state" href="/cases/{{_case.id}}/witnesses/{{witness.id}}/statements/{{statement.id}}/unmark-as-section9">Unmark as Section 9</a>
                    {% elseif statement.isMarkedAsSection9 == false %}
                      <a class="govuk-link--no-visited-state" href="/cases/{{_case.id}}/witnesses/{{witness.id}}/statements/{{statement.id}}/mark-as-section9">Mark as Section 9</a>
                    {% else %}
                      <a class="govuk-link--no-visited-state" href="/cases/{{_case.id}}/witnesses/{{witness.id}}/statements/{{statement.id}}/mark-as-section9">Mark as Section 9</a>
                    {% endif %} 
                    </div>
                    
                    {% if statement.isUsedAsEvidence == true %}                    
                      {% set useAsEvidenceValue = 'Used' %}
                    {% elseif statement.isUsedAsEvidence == false %}
                      {% set useAsEvidenceValue = 'Unused' %}
                    {% else %}
                      {% set useAsEvidenceValue = 'None' %}
                    {% endif %}
                    
                    {{ govukSummaryList({
                      classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-7",
                      rows: [
                        {
                          key: {
                            html: 'Statement number'
                          },
                          value: {
                            html: loop.index
                          }
                        } if 1==2,
                        {
                          key: {
                            html: 'Statement'
                          },
                          value: {
                            html: '<a class="govuk-link govuk-link--no-visited-state" href="#">View statement</a>'
                          }
                        } if 1==2,
                        {
                          key: {
                            html: 'Statement date'
                          },
                          value: {
                            html: statement.receivedDate | isoDateString | govukDate
                          }
                        },
                        {
                          key: {
                            html: 'Date received from police'
                          },
                          value: {
                            html: statement.receivedDate | isoDateString | govukDateTime
                          }
                        } if 1==2,
                        {
                          key: {
                            html: 'Material status'
                          },
                          value: {
                            html: useAsEvidenceValue
                          }
                        },
                        {
                          key: {
                            html: 'CPS disclosure assessment'
                          },
                          value: {
                            html: 'Evidence'
                          }
                        } if 1==2                                     
                      ]
                    })}}

                  {% endfor %}
                {% else %}
                  <h3 class="govuk-heading-s">Statements</h3>
                  <p class="govuk-!-font-size-16">No statements.</p>
                {% endif %}
                {% endset %}

                {% set detailsTab %}
                    <h3 class="govuk-heading-m">Personal details</h3>

                    {{ govukSummaryList({
                      rows: [
                        {
                          key: {
                            text: "First name"
                          },
                          value: {
                            text: witness.firstName
                          },
                          actions: {
                            items: [
                              {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "Item label"
                              }
                            ]
                          }
                        },
                        {
                          key: {
                            text: "Last name"
                          },
                          value: {
                            text: witness.lastName
                          },
                          actions: {
                            items: [
                              {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "Item label"
                              }
                            ]
                          }
                        },
                        {
                          key: {
                            text: "Date of birth"
                          },
                          value: {
                            text: witness.dateOfBirth | isoDateString | govukDate
                          },
                          actions: {
                            items: [
                              {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "Item label"
                              }
                            ]
                          }
                        },
                        {
                          key: {
                            text: "Email address"
                          },
                          value: {
                            text: witness.emailAddress
                          },
                          actions: {
                            items: [
                              {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "Item label"
                              }
                            ]
                          }
                        },
                        {
                          key: {
                            text: "Mobile number"
                          },
                          value: {
                            text: witness.mobileNumber or "Not provided"
                          },
                          actions: {
                            items: [
                              {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "Item label"
                              }
                            ]
                          }
                        },
                        {
                          key: {
                            text: "Key witness"
                          },
                          value: {
                            text: "Yes" if witness.isKeyWitness == true else "No"
                          },
                          actions: {
                            items: [
                              {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "Item label"
                              }
                            ]
                          }
                        },
                        {
                          key: {
                            text: "Warned by police"
                          },
                          value: {
                            text: "Yes" if witness.wasWarned == true else "No"
                          },
                          actions: {
                            items: [
                              {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "Item label"
                              }
                            ]
                          }
                        },
                        {
                          key: {
                            text: "Previous transgressions"
                          },
                          value: {
                            text: previousTransgressions or 'None'
                          },
                          actions: {
                            items: [
                              {
                                href: "#",
                                text: "Change",
                                visuallyHiddenText: "Item label"
                              }
                            ]
                          }
                        }
                      ]
                    }) }}
                {% endset %}

                {% set availabilityTab %}
                    <h3 class="govuk-heading-m">Court attendance</h3>
                    {% if witness.isAppearingInCourt == true %}
                      {# <p>Witness called.</p> #}
                      <p><a class="govuk-link--no-visited-state" href="/cases/{{_case.id}}/witnesses/{{witness.id}}/mark-as-not-attending-court">Mark as not attending court</a></p>
                    {% elseif witness.isAppearingInCourt == false %}
                      {# <p>Witness dewarned.</p> #}
                      <p><a class="govuk-link--no-visited-state" href="/cases/{{_case.id}}/witnesses/{{witness.id}}/mark-as-attending-court">Mark as attending court</a></p>
                    {% else %}
                      <p><a class="govuk-link--no-visited-state" href="/cases/{{_case.id}}/witnesses/{{witness.id}}/mark-as-attending-court">Mark as attending court</a></p>
                    {% endif %}

                    <h3 class="govuk-heading-m">Availability</h3>

                    {{ govukSummaryList({
                      rows: [
                        {
                          key: {
                            text: "Available from"
                          },
                          value: {
                            text: witness.courtAvailabilityStartDate | isoDateString | govukDate
                          }
                        },
                        {
                          key: {
                            text: "Available to"
                          },
                          value: {
                            text: witness.courtAvailabilityEndDate | isoDateString | govukDate
                          }
                        },
                        {
                          key: {
                            text: "Unavailable dates"
                          },
                          value: {
                            text: "None"
                          }
                        }
                      ]
                    }) if witness.dcf}}
                {% endset %}

                {% set specialMeasuresTab %}
                    <h3 class="govuk-heading-m">Special measures</h3>

                    {{ govukSummaryList({
                      rows: [
                        {
                          key: {
                            text: "Special measures"
                          },
                          value: {
                            text: witness.courtSpecialMeasures or "None"
                          }
                        },
                        {
                          key: {
                            text: "Needs"
                          },
                          value: {
                            text: witness.courtNeeds or "None"
                          }
                        },
                        {
                          key: {
                            text: "Is a meeting required?"
                          },
                          value: {
                            text: "Yes" if witness.isKeyWitness == true else "No"
                          }
                        }
                      ]
                    }) }}
                {% endset %}

                <div class="govuk-tabs govuk-!-margin-bottom-0" data-module="govuk-tabs">
                  <h2 class="govuk-tabs__title">
                    Contents
                  </h2>
                  <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                      <a class="govuk-tabs__tab" href="#statements-{{witness.id}}">
                        Statements
                      </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                      <a class="govuk-tabs__tab" href="#details-{{witness.id}}">
                        Details
                      </a>
                    </li>
                    {% if witness.dcf %}
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#availability-{{witness.id}}">
                          Availability
                        </a>
                      </li>
                      <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#special-measures-{{witness.id}}">
                          Special measures
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                  <div class="govuk-tabs__panel" id="statements-{{witness.id}}">
                    {{statementsTab | safe}}
                  </div>
                  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="details-{{witness.id}}">
                    {{detailsTab | safe}}
                  </div>
                  {% if witness.dcf %}
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="availability-{{witness.id}}">
                      {{availabilityTab | safe}}
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="special-measures-{{witness.id}}">
                      {{specialMeasuresTab | safe}}
                    </div>
                  {% endif %}
                </div>
               
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no witnesses.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
