{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set defendantName = _case.defendants[0].firstName + ' ' + _case.defendants[0].lastName %}
{% set witnessName = witness.firstName + ' ' + witness.lastName %}
{% set pageName = witnessName %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Cases",
        href: "/cases"
      },
      {
        text: defendantName,
        href: "/cases/:caseId" | replace(':caseId', _case.id)
      },
      {
        text: 'Witnesses',
        href: "/cases/:caseId/witnesses" | replace(':caseId', _case.id)
      },
      {
        text: pageName
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}


  {# <span class="govuk-caption-l">{{_case.reference}}</span> #}
      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      {{ xGovukSecondaryNavigation({
                  classes: 'govuk-!-margin-bottom-5',
                  visuallyHiddenTitle: "Secondary menu",
                  items: [{
                    text: "Details",
                    href: "#",
                    current: true
                  }, {
                    text: "Statements",
                    href: "#"
                  }, {
                    text: "Availability",
                    href: "#"
                  }, {
                    text: "Special measures",
                    href: "#"
                  }]
                })}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      

      {% if witness.appearingInCourt %}
        {% set attendanceStatus = 'Attending court' %}
      {% elseif witness.appearingInCourt == false %}
        {% set attendanceStatus = 'Not attending court' %}
        {% else %}
        {% set attendanceStatus = 'Not entered' %}
      {% endif %}

      {{ govukSummaryList({
        rows: [
          {
            key: { 
              text: "First name" 
            },
            value: { 
              html: witness.firstName 
            },
            actions: {
              items: [
                {
                  href: "/witnesses/:witnessId/edit-first-name" | replace(':witnessId', witness.id),
                  text: "Change",
                  visuallyHiddenText: "First name"
                }
              ]
            }
          },
          {
            key: { 
              text: "Last name" 
            },
            value: { 
              html: witness.lastName 
            },
            actions: {
              items: [
                {
                  href: "/witnesses/:witnessId/edit-last-name" | replace(':caseId', witness.id),
                  text: "Change",
                  visuallyHiddenText: "Last name"
                }
              ]
            }
          }        
        ]
      }) }}

      <h2 class="govuk-heading-m">Court attendance</h2>

      {{ govukButton({
        text: "Mark as attending court"
      }) }}

      <h2 class="govuk-heading-m">Statements</h2>

      <p>Etc or nav</p>



    </div>
  </div>
{% endblock %}
