{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'special-measures' %}
{% set defendantName = _case.defendants[0].firstName + ' ' + _case.defendants[0].lastName %}
{% set witnessName = witness.firstName + ' ' + witness.lastName %}
{% set pageName = witnessName %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: _case.reference,
        href: "/cases/:caseId" | replace(':caseId', _case.id)
      },
      {
        text: 'Witnesses',
        href: "/cases/:caseId/witnesses" | replace(':caseId', _case.id)
      },
      {
        text: pageName
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <h1 class="govuk-heading-l">{{ pageName }}</h1>

  {% include "_includes/witness/navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Special measures</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Special measures"
            },
            value: {
              text: witness.courtSpecialMeasures or "None"
            }
          },
          {
            key: {
              text: "Needs"
            },
            value: {
              text: witness.courtNeeds or "None"
            }
          },
          {
            key: {
              text: "Is a meeting required?"
            },
            value: {
              text: "Yes" if witness.isKeyWitness == true else "No"
            }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
