{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'statements' %}
{% set defendantName = _case.defendants[0].firstName + ' ' + _case.defendants[0].lastName %}
{% set witnessName = witness.firstName + ' ' + witness.lastName %}
{% set pageName = witnessName %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: _case.reference,
        href: "/cases/:caseId" | replace(':caseId', _case.id)
      },
      {
        text: 'Witnesses',
        href: "/cases/:caseId/witnesses" | replace(':caseId', _case.id)
      },
      {
        text: pageName
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <h1 class="govuk-heading-l">{{ pageName }}</h1>

  {% include "_includes/witness/navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if witness.statements.length > 0 %}

        {% for statement in witness.statements %}

          {% set section9Status = '' %}
          {% if statement.isMarkedAsSection9 == true %}
            {% set section9Status = 'Section 9' %}
          {% elseif statement.isMarkedAsSection9 == false %}
            {# {% set section9Status = 'Section 9 withdrawn' %} #}
          {% endif %}

          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            Statement {{loop.index}}
            {% if section9Status %} {{ govukTag({ text: section9Status, classes: 'govuk-!-margin-left-1' }) }}{% endif %}
          </h2>

          <div class="govuk-button-group govuk-!-margin-bottom-0">
            <a class="govuk-link govuk-link--no-visited-state" href="#">View statement</a>
            {% if statement.isMarkedAsSection9 == true %}
            <a class="govuk-link--no-visited-state" href="/cases/{{_case.id}}/witnesses/{{witness.id}}/statements/{{statement.id}}/unmark-as-section9">Unmark as Section 9</a>
          {% elseif statement.isMarkedAsSection9 == false %}
            <a class="govuk-link--no-visited-state" href="/cases/{{_case.id}}/witnesses/{{witness.id}}/statements/{{statement.id}}/mark-as-section9">Mark as Section 9</a>
          {% else %}
            <a class="govuk-link--no-visited-state" href="/cases/{{_case.id}}/witnesses/{{witness.id}}/statements/{{statement.id}}/mark-as-section9">Mark as Section 9</a>
          {% endif %}
          </div>

          {% if statement.isUsedAsEvidence == true %}
            {% set useAsEvidenceValue = 'Used' %}
          {% elseif statement.isUsedAsEvidence == false %}
            {% set useAsEvidenceValue = 'Unused' %}
          {% else %}
            {% set useAsEvidenceValue = 'None' %}
          {% endif %}

          {{ govukSummaryList({
            classes: "govuk-!-margin-top-0 govuk-!-margin-bottom-7",
            rows: [
              {
                key: {
                  html: 'Statement date'
                },
                value: {
                  html: statement.receivedDate | isoDateString | govukDate
                }
              },
              {
                key: {
                  html: 'Material status'
                },
                value: {
                  html: useAsEvidenceValue
                }
              }
            ]
          })}}

        {% endfor %}
      {% else %}
        <h2 class="govuk-heading-s">Statements</h2>
        <p class="govuk-!-font-size-16">No statements.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
