{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'activity' %}
{% set pageName = "Activity (:total)" | replace(':total', totalEvents | formatNumber) %}

{% block beforeContent %}
  {% include "_includes/case/identity-bar.njk" %}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}
  {# {% include "_includes/case/header.njk" %} #}
  {% include "_includes/case/material/navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <div class="app-filter-layout">
        <div class="app-filter-layout__filter">
          {% include "_includes/case-activity/filter-panel.njk" %}
        </div>
        <div class="app-filter-layout__content">

          <div class="app-action-bar">
            <div class="app-action-bar__filter"></div>
          </div>

          {% include "_includes/case-activity/search-form.njk" %}

          {% if events.length %}
            <div class="app-activity-log">
              {% for event in events %}
                {{ appActivityLogItem({
                  event: event,
                  eventTitle: event.title
                }) }}
              {% endfor %}
            </div>
          {% else %}
            <p>No activity.</p>
          {% endif %}

          {% include "_includes/pagination.njk" %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}
