<div class="app-search-form">
  <form method="get">
    {{ govukInput({
      id: "reportsSearch[keywords]",
      name: "reportsSearch[keywords]",
      label: {
        text: "Search by reference number",
        classes: "govuk-label--s app-search-form__label"
      },
      value: data.reportsSearch.keywords
    }) }}

    {{ govukButton({
      text: "Search",
      classes: "app-search-form__button"
    }) }}
  </form>

  {% if data.reportsSearch.keywords %}
    <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0">
      <a class="govuk-link--no-visited-state" href="/reports/clear-search">Clear search</a>
    </p>
  {% endif %}
</div>
