{% extends "layouts/main.html" %}

{% set navId = 'overview' %}
{% set pageName = "Overview" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <div class="app-overview-cards govuk-!-margin-bottom-9">
        <a href="/cases/shortcut/unassigned" class="app-overview-card app-overview-card--green">
          <span class="app-overview-card__count">{{unassignedCaseCount}}</span>
          <span class="app-overview-card__status">
            unassigned
            {% if unassignedCaseCount == 1 %}
              case
            {% else %}
              cases
            {% endif %}
          </span>
        </a>

        {% if incompleteProfileCount > 0 %}
          <a href="/prosecutors" class="app-overview-card app-overview-card--yellow">
            <span class="app-overview-card__count">{{incompleteProfileCount}}</span>
            <span class="app-overview-card__status">
              prosecutor
              {% if incompleteProfileCount == 1 %}
                profile
              {% else %}
                profiles
              {% endif %}
              incomplete
            </span>
          </a>
        {% endif %}

        {% if urgentTaskCount > 0 %}
          <a href="/tasks/shortcut/urgent" class="app-overview-card app-overview-card--red">
            <span class="app-overview-card__count">{{urgentTaskCount}}</span>
            <span class="app-overview-card__status">
              urgent
              {% if urgentTaskCount == 1 %}
                task
              {% else %}
                tasks
              {% endif %}
            </span>
          </a>
        {% endif %}

        {# <a href="/cases/shortcut/dga" class="app-overview-card app-overview-card--yellow">
          <span class="app-overview-card__count">{{needsDGAReviewCount}}</span>
          <span class="app-overview-card__status">
            DGA
            {% if needsDGAReviewCount == 1 %}
              case
            {% else %}
              cases
            {% endif %}
            need review
          </span>
        </a> #}
      </div>

{# {% if criticallyOverdueTaskCount + overdueTaskCount + dueSoonTaskCount + notDueYetTaskCount > 0 %}
        <h2 class="govuk-heading-m">
          Tasks
        </h2>

        <div class="app-overview-cards">
          {% if criticallyOverdueTaskCount > 0 %}
            <a href="/tasks/shortcut/critically-overdue" class="app-overview-card app-overview-card--red">
              <span class="app-overview-card__count">{{criticallyOverdueTaskCount}}</span>
              <span class="app-overview-card__status">
                critically overdue
                {% if criticallyOverdueTaskCount == 1 %}
                  task
                {% else %}
                  tasks
                {% endif %}
              </span>
            </a>
          {% endif %}

          {% if overdueTaskCount > 0 %}
            <a href="/tasks/shortcut/overdue" class="app-overview-card app-overview-card--orange">
              <span class="app-overview-card__count">{{overdueTaskCount}}</span>
              <span class="app-overview-card__status">
                overdue
                {% if overdueTaskCount == 1 %}
                  task
                {% else %}
                  tasks
                {% endif %}
              </span>
            </a>
          {% endif %}

          {% if dueSoonTaskCount > 0 %}
            <a href="/tasks/shortcut/due-soon" class="app-overview-card app-overview-card--yellow">
              <span class="app-overview-card__count">{{dueSoonTaskCount}}</span>
              <span class="app-overview-card__status">
                due soon
                {% if dueSoonTaskCount == 1 %}
                  task
                {% else %}
                  tasks
                {% endif %}
              </span>
            </a>
          {% endif %}

          {% if notDueYetTaskCount > 0 %}
            <a href="/tasks/shortcut/not-due-yet" class="app-overview-card app-overview-card--blue">
              <span class="app-overview-card__count">{{notDueYetTaskCount}}</span>
              <span class="app-overview-card__status">
                not due yet
                {% if notDueYetTaskCount == 1 %}
                  task
                {% else %}
                  tasks
                {% endif %}
              </span>
            </a>
          {% endif %}
        </div>
      {% endif %} #}

    </div>
  </div>
{% endblock %}
