{% extends "layouts/main.html" %}

{% set navId = 'overview' %}
{% set pageName = "Overview" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <div class="app-overview-cards">
        <a href="/cases/shortcut/unassigned" class="app-overview-card app-overview-card--green">
          <span class="app-overview-card__count">{{unassignedCaseCount}}</span>
          <span class="app-overview-card__status">
            unassigned
            {% if unassignedCaseCount == 1 %}
              case
            {% else %}
              cases
            {% endif %}
          </span>
        </a>

        {# <a href="/cases/shortcut/dga" class="app-overview-card app-overview-card--yellow">
          <span class="app-overview-card__count">{{needsDGAReviewCount}}</span>
          <span class="app-overview-card__status">
            DGA
            {% if needsDGAReviewCount == 1 %}
              case
            {% else %}
              cases
            {% endif %}
            need review
          </span>
        </a> #}
      </div>

    </div>
  </div>
{% endblock %}
