{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Prosecutor" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{_case.reference}} - assign prosecutor</span>
      <form method="post">
        {{ govukRadios({
          name: "assignProsecutor[prosecutor]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          value: data.assignProsecutor.prosecutor,
          items: prosecutorItems
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}