{# CASE OUTLINE ////////////////////////////////////////// #}
{% set caseOutlineHtml %}
  <h3 class="govuk-heading-m">Case outline</h3>
  {% include "_includes/case/details/outline-panels.njk" %}
{% endset -%}

{# DEFENDANTS ////////////////////////////////////////// #}
{% set defendantsHtml %}
  <h3 class="govuk-heading-m">Defendants</h3>
{% endset -%}

{# WITNESSES ////////////////////////////////////////// #}
{% set witnessesHtml %}
  <h3 class="govuk-heading-m">Witnesses</h3>
{% endset -%}

{# MATERIALS ////////////////////////////////////////// #}
{% set materialsHtml %}
  <h3 class="govuk-heading-m">Materials</h3>
  {% include "_includes/case/material/panel-v2.njk" %}
{% endset -%}

{# DISCLOSURE ////////////////////////////////////////// #}
{% set disclosureHtml %}
  <h3 class="govuk-heading-m">Disclosure</h3>
{% endset -%}

{{ govukTabs({
  items: [
    { label: "Case Outline", id: "case-outline", panel: { html: caseOutlineHtml } },
    { label: "Defendants",   id: "defendants",   panel: { html: defendantsHtml } },
    { label: "Witnesses",    id: "witnesses",    panel: { html: witnessesHtml } },
    { label: "Materials",    id: "materials",    panel: { html: materialsHtml } },
    { label: "Disclosure",   id: "disclosure",   panel: { html: disclosureHtml } }
  ]
}) }}

