{# ---- Content blocks ---- #}
{% set factualSummaryHtml %}

<h3 class="govuk-heading-m">Summary of Circumstances of Offence(s)</h3>
<p class="govuk-body govuk-hint">added on 24/05/2024</p>

<p class="govuk-body">
Log 1234 23/09/2023 was a call made to the police regarding an alleged assault on ******* Street, Blackford, outside the victim's home address. At the time the victim was drinking in the street with the suspect ********, ******* and the victim's partner's **********.
</p>
<p class="govuk-body">
It is alleged that 'out of nowhere' Defendant had attacked the victim by pushing him in the chest, dragging him to the floor by his t-shirt and kicking and stamping on his head over 15 times. Defendant had also climbed onto the fence gate and had jumped onto victim. Defendant has reportedly been saying "COME ON BIG LAD GET UP. YOU'RE NOT DOING ANYTHING NOW ARE YOU" and "THAT'S BEEN COMING A LONG TIME".
</p>
<p class="govuk-body">
Witness 2 from Anywhere has witnessed the assault from her home address and called the police at 20:47hrs. Witness 2 has provided a statement in which she states that she has heard shouting coming from her street "I'M NOT FINISHED WITH YOU YET". As she has looked out her window, she has seen a male (believed to be Defendant) who she knows by the name SINBAD kicking and punching Victim around 5 times. Witness 2 has witnessed Victim fall to the floor and 'SINBAD' continues to punch and kick him, kicking and stamping on his head whilst Victim is on the floor. Witness 2 has then contacted the police.
</p>
<p class="govuk-body">
Witness has provided a statement in which she states that she has been drinking with Victim and 'SINBAD' outside of Victim's address. Witness says that "OUT OF NOWHERE" 'SINBAD' has gotten up and approached Victim from behind, pushing him. 'SINBAD' has then dragged Victim to the floor and has kicked and stamped on Victim's head around 15 times.
</p>
<p class="govuk-body">
Witness has then hit the suspect twice in the head with a cup she has had in her hand to stop 'SINBAD'. 'SINBAD' has then turned around and hit Witness with the back of his hand causing Witness to fall to the floor. Witness states that 'SINBAD' has told her "LOOK WHAT I'M DOING TO YOUR BOYFRIEND". 'SINBAD' has then continued to kick and stamp on Victim's head.
</p>

<h3 class="govuk-heading-m">Arrest Details</h3>
<p class="govuk-body govuk-hint">associated with Mr Frank Deese<br>added on 24/05/2024</p>

<p class="govuk-body">
On police attendance to this incident, PS Bloggs has attended the scene. PC Plod has witnessed two males on the top right corner of the square on Blackford Road. PS Bloggs has approached these males and asked them what had happened, and they replied 'nothing'. A female from an upstairs bedroom at Anywhere STREET has then gestured to and told PS Bloggs that the smaller male pushing a bike who he had just approached was the male who had assaulted Victim. This male has provided his name as Defendant. Defendant has then been arrested by PC Jones.
</p>
<p class="govuk-body">
PS Police has also provided a statement detailing their response to the incident. In their statement they also state that a female from a window on an address on Anywhere STREET has pointed out the suspect to officers and Defendant has then been arrested. In their statement PS Police has also produced images of the victim's injuries, produced as Police Items PP/01 and PP/02. These images show substantial injuries to the victim's face including a foot tread mark, swollen and reddened eyes, lips and cheeks and a bloodies nose.
</p>

<h3 class="govuk-heading-m">Interview Summary</h3>
<p class="govuk-body govuk-hint">associated with Mr Frank Deese<br>added on 24/05/2024</p>


{% endset -%}

{## ---- Content blocks ---- #}

{% set informationToProsecutorHtml %}

<h3 class="govuk-heading-m">Reasonable Lines of Enquiry</h3>
<p class="govuk-body govuk-hint">added on 24/05/2024</p>

<ol class="govuk-list govuk-list--number govuk-!-margin-bottom-6">
  <li class="govuk-body">
    In this case, it is clear that a motive for the assault existed prior its taking place.
  </li>
  <li class="govuk-body">
    The defendant has, as a result of this incident, filed for divorce from his wife, Helen. She is now a potential witness in this case, and special measures in her regard (video link evidence, etc) will be sought should she be willing to provide evidence. She is of course not compellable as a witness in any case.
  </li>
  <li class="govuk-body">
    In light of the circumstances, the Crown may wish to consider accepting a plea to a lesser charge of wounding without the intention element. While it is the police case that JONES’s selection of a weapon prior to the assault indicates intent to cause GBH, the time element from motivation to assault, along with JONES’ drunken condition, would lend itself to that lesser charge being acceptable.
  </li>
  <li class="govuk-body">
    As indicated in the text of the MG5, no forensic evidence has been sought in respect of JONES’ clothing. The clothing is still available for examination should the Crown consider it necessary, e.g in the light of any proposed defence on JONES’ part.
  </li>
</ol>

<h3 class="govuk-heading-m">Mental Health Issues - Defendants</h3>
<p class="govuk-body">
  associated with <a href="#" class="govuk-link govuk-link--no-visited-state">Mr Frank Deesee</a>
</p>
<p class="govuk-body govuk-hint">added on 24/05/2024</p>

<p class="govuk-body">
  Vestibulum consequat enim nulla, sit amet rutrum justo interdum a. In aliquam suscipit lorem sed auctor. Sed at lectus ornare, tempus nulla sit amet, imperdiet tortor. Fusce auctor sodales posuere. Nunc efficitur, quam laoreet ultricies efficitur, justo enim rutrum tortor, ac tincidunt nulla ante a eros. Aliquam erat volutpat. Nam erat enim, viverra a felis eu,
</p>

{% endset -%}


{## ---- Content blocks ---- #}

{% set certificationsHtml %}

<h3 class="govuk-heading-m">Lines of Enquiry certification</h3>
<p class="govuk-body">Certified by <a href="#" class="govuk-link govuk-link--no-visited-state">Sgt Sally Ascombe-Down (OIC)</a> on 24/05/2024</p>

<p class="govuk-body">-----Certifier Comments -----</p>

<p class="govuk-body">
Lines of enquiry general certification - I certify that in accordance with the Code of Practice to the Criminal Procedure and Investigations Act 1996, in conducting this investigation all reasonable lines of enquiry have been considered whether they pointed towards or away from the suspect.
</p>
<p class="govuk-body">
Lines of enquiry CPS charge decision certification - I have considered lines of enquiry which will not be pursued and I support the rationale provided for the decision(s). I have also considered reasonable lines of enquiry which remain outstanding and the likely impact on the decision to charge.
</p>

<h3 class="govuk-heading-m">Code Test certification</h3>
<p class="govuk-body">Certified by <a href="#" class="govuk-link govuk-link--no-visited-state">Sgt Sally Ascombe-Down (OIC)</a> on 24/05/2024</p>

<p class="govuk-body">
I have reviewed this case and believe that the evidence justifies the prosecution. The Full Code Test has been met. Both elements of the Full Code Test have been carefully considered. I started off by reviewing the evidence and I can confirm I believe there is a realistic prospect of conviction. Once I was satisfied the evidential stage had been met I then applied the Public Interest stage. I will endorse this review with my findings below:
</p>

<p class="govuk-body"><strong>The defendants are</strong></p>
<ul class="govuk-list govuk-list--bullet">
  <li>Homer Simpson</li>
  <li>Bart Simpson</li>
</ul>

<p class="govuk-body"><strong>The proposed charges are as follows:</strong></p>
<ul class="govuk-list govuk-list--bullet">
  <li>DV Common assault</li>
</ul>

<p class="govuk-body">
I have considered the EVIDENTIAL STAGE. My findings are as follows:
</p>

<p class="govuk-body">
This is a supported Domestic Violence Case against the victim Marge Simpson. On THURSDAY 30TH JANUARY 2025, the defendants and victim have been in her home address when the defendant has been accused the victim of cheating on him. The victim has denied this which has angered the defendant and caused him to stand up, tense up and shout "LEAVE MY FUCKING HOUSE". The defendant has then clenched his right fist, raised it and said if she did not leave then he would punch her. He has then made more threats including “I WILL SKULL DRAG YOU OUT OF THE ADDRESS” causing the victim to fear for her immediate and unlawful violence. The defendant himself left the address and the Police have been called.
</p>

<p class="govuk-body">
Bart Simpson also slapped his mother to the left hand side of the face.
</p>

<p class="govuk-body">
Police have attended the address and the victim stated over the last 2 years the defendant has accused her of cheating, demanding to know who she was with, wanting to know where she is, who she is with and stating she was unfaithful. The defendant demands access to the victims phone, goes through her phone and feels that she is being “controlled” by him. She feels if she does not do as told, then he will become angry and volatile.
</p>

<p class="govuk-body">The victim has provided a statement to Police.</p>
<p class="govuk-body">She has requested a Restraining Order.</p>

<p class="govuk-body">
I then considered the ANTICIPATED PLEA. Please find details and rationale as follows; the defendant was interviewed on FRIDAY 31ST JANUARY 2025 at CENTRAL PERK POLICE CUSTODY. The defendant was interviewed by PC MURRAY and denied both offences. Regarding the Common Assault, the defendant stated that the victim assaulted him.
</p>

<p class="govuk-body">
I can confirm the OIC has explored all reasonable lines of enquiry.
</p>

<p class="govuk-body">
I considered the PUBLIC INTEREST STAGE. My findings are as follows:
</p>

<p class="govuk-body">
This is a High Risk Domestic Incident between the victim and the defendant. The victim is terrified of the defendant but has been brave enough to provide a statement to the Police and is supporting a Police Prosecution.
</p>

<p class="govuk-body">
Further to this, there has been a 37% increase in violence against women or girls between 2018–2023. In 2023 alone, over 1 million crimes against women and girls were recorded in England and Wales which makes up 20% of crimes recorded by Police.
</p>

<p class="govuk-body">
Globally, 1 in 3 women experience VAWG.
</p>

<p class="govuk-body">
VAWG is prevalent in the Media, and the expectation is Police take positive action against it. The Public would rightly expect Police arrest these offenders and for the CPS to expedite charges and remands for those who commit VAWG / Domestic Violence.
</p>

<h3 class="govuk-heading-m">File Quality certification</h3>
<p class="govuk-body">Certified by <a href="#" class="govuk-link govuk-link--no-visited-state">Sgt Sally Ascombe-Down (OIC)</a> on 24/05/2024</p>

<p class="govuk-body">
I certify that, to the best of my knowledge and belief, no information has been withheld which would assist the accused in the preparation of the defence in accordance with R v. Director of Public Prosecutions ex parte Lee [1999] 2 CR. App. R 304 which includes, but is not limited to, information that might assist the defence in making an application for bail.
</p>

<p class="govuk-body">
To the best of my knowledge and belief, all material that is or may be relevant has been retained and made available to me. It has been inspected, viewed or listened to and revealed to the prosecutor in accordance with the Criminal Procedure and Investigations Act 1996 as amended, Code of Practice and the Attorney General’s Guidelines.
</p>

<p class="govuk-body">
I also certify that all material subject to rebuttable presumption under the CPIA code of practice has been recorded and provided (as required). I have reviewed all the relevant material, that has been retained and made available to me and there is nothing to the best of my knowledge and belief that might reasonably be considered capable of undermining the prosecution case against the accused or assisting the case for the accused.
</p>

<h3 class="govuk-heading-m">Disclosure certification</h3>
<p class="govuk-body">Certified by <a href="#" class="govuk-link govuk-link--no-visited-state">Sgt Sally Ascombe-Down (OIC)</a> on 24/05/2024</p>

<p class="govuk-body">
I certify that, to the best of my knowledge and belief, no information has been withheld which would assist the accused in the preparation of the defence in accordance with R v. Director of Public Prosecutions ex parte Lee [1999] 2 CR. App. R 304 which includes, but is not limited to, information that might assist the defence in making an application for bail.
</p>

<p class="govuk-body">
To the best of my knowledge and belief, all material that is or may be relevant has been retained and made available to me. It has been inspected, viewed or listened to and revealed to the prosecutor in accordance with the Criminal Procedure and Investigations Act 1996 as amended, Code of Practice and the Attorney General’s Guidelines.
</p>

<p class="govuk-body">
I also certify that all material subject to rebuttable presumption under the CPIA code of practice has been recorded and provided (as required). I have reviewed all the relevant material, that has been retained and made available to me and there is nothing to the best of my knowledge and belief that might reasonably be considered capable of undermining the prosecution case against the accused or assisting the case for the accused.
</p>


{% endset -%}



{# ---- Side nav + panels ---- #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{ mojSideNavigation({
      label: "Case outline",
      items: [
        { text: "Factual summary", href: "#factual-summary", active: true, attributes: { "data-case-outline-link": "" } },
        { text: "Confidential Information to Prosecutor", href: "#cip", attributes: { "data-case-outline-link": "" } },
        { text: "Certifications", href: "#certifications", attributes: { "data-case-outline-link": "" } }
      ]
    }) }}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <section id="factual-summary" class="js-case-section" hidden>
      {{ factualSummaryHtml | safe }}
    </section>
    <section id="cip" class="js-case-section" hidden>
      {{ informationToProsecutorHtml | safe }}
    </section>
    <section id="certifications" class="js-case-section" hidden>
      {{ certificationsHtml | safe }}
    </section>
  </div>
</div>


