{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'notes' %}
{% set pageName = "Notes (:total)" | replace(':total', _case.notes.length | formatNumber) %}

{% block beforeContent %}
  {% include "_includes/case/identity-bar.njk" %}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}
  {% include "_includes/case/navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add note",
          href: "/cases/:caseId/notes/new" | replace(':caseId', _case.id)
        }) }}

        {{ govukButton({
          text: "Export",
          classes: 'govuk-button--secondary'
        }) }}
      </div>

      {% include "_includes/note/search-form.njk" %}

      {% if _case.notes.length %}
        <div class="app-list">
          {% for note in _case.notes %}
            {% set notePreview %}
              {% if note.content.length > 75 %}
                {{ note.content | truncate(75) }}
              {% else %}
                {{ note.content }}
              {% endif %}
            {% endset %}

            <div class="app-list__item">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                <a href="/cases/{{_case.id}}/notes/{{note.id}}" class="govuk-link--no-visited-state">{{ notePreview | trim }}</a>
              </h2>

              {% set summaryRows = [] %}

              {% set summaryRows = (summaryRows.push({
                key: { html: 'User' },
                value: { html: note.user.firstName + ' ' + note.user.lastName }
              }), summaryRows) %}

              {% set summaryRows = (summaryRows.push({
                key: { html: 'Date added' },
                value: { html: note.createdAt | isoDateString | govukDateTime }
              }), summaryRows) %}

              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border app-summary-list--compact app-summary-list--small-text',
                rows: summaryRows
              })}}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no notes.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
