{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'notes' %}

{% if note.content.length > 75 %}
  {% set pageName = note.content | truncate(75) %}
{% else %}
  {% set pageName = note.content %}
{% endif %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
    items: [
      {
        text: _case.reference,
        href: "/cases/:caseId" | replace(':caseId', _case.id)
      },
      {
        text: 'Notes',
        href: "/cases/:caseId/notes" | replace(':caseId', _case.id)
      }
    ]
  })}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{_case.reference}}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

       {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Note"
            },
            value: {
              text: note.content
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/notes/:noteId/edit" | replace(':caseId', _case.id) | replace(':noteId', note.id),
                  text: "Change",
                  visuallyHiddenText: "Note"
                }
              ]
            }
          },
          {
            key: {
              text: "User"
            },
            value: {
              text: note.user.firstName + ' ' + note.user.lastName
            }
          },
          {
            key: {
              text: "Date added"
            },
            value: {
              html: note.createdAt | isoDateString | govukDateTime
            }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
