{% extends "layouts/main.html" %}

{% set navId = 'tasks' %}
{% set pageName = "Tasks (:total)" | replace(':total', totalTasks | formatNumber) %}

{% block content %}
    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

    <div class="app-filter-layout">
      <div class="app-filter-layout__filter">
        {% include "_includes/task/filter-panel.njk" %}
      </div>
      <div class="app-filter-layout__content">

        <div class="app-action-bar">
          <div class="app-action-bar__filter"></div>
        </div>

        {% include "_includes/task/search-form.njk" %}
        {% include "_includes/task/sort-controls.njk" %}

        {% if tasks.length %}
          <div class="app-list">
            {% for task in tasks %}
            <div class="app-list__item">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                  <a href="/cases/{{task.case.id}}/tasks/{{task.id}}" class="govuk-link--no-visited-state">{{task.name}}</a>
                </h2>

                {% set defendantsValue %}
                  {{task.case.defendants[0].firstName}} {{task.case.defendants[0].lastName}}
                  {% if task.case.defendants.length > 1 %}
                    and {{task.case.defendants.length - 1}} more
                  {% endif %}
                {% endset %}

                {% set ownerValue %}
                  {% if task.assignedToUser %}
                    {{task.assignedToUser.firstName}} {{task.assignedToUser.lastName}}
                  {% elif task.assignedToTeam %}
                    {{task.assignedToTeam.name}} ({{task.assignedToTeam.unit.name}})
                  {% endif %}
                {% endset %}

                {{ govukSummaryList({
                  classes: 'govuk-summary-list--no-border app-summary-list--compact app-summary-list--small-text',
                  rows: [
                    {
                      key: {
                        html: 'Case reference number'
                      },
                      value: {
                        html: task.case.reference
                      }
                    },
                    {
                      key: {
                        html: 'Defendant'
                      },
                      value: {
                        html: defendantsValue
                      }
                    },
                    {
                      key: {
                        html: 'Due date'
                      },
                      value: {
                        html: task.dueDate | isoDateString | govukDateTime
                      }
                    },
                    {
                      key: {
                        html: 'Custody release date'
                      },
                      value: {
                        html: (task.case.soonestCTL | isoDateString | govukDateTime) + (' (' + task.case.ctlCount + ' CTLs)' if task.case.ctlCount > 1 else '')
                      }
                    } if task.case.hasCTL,
                    {
                      key: {
                        html: 'Owner'
                      },
                      value: {
                        html: ownerValue
                      }
                    },
                    {
                      key: {
                        html: 'Unit'
                      },
                      value: {
                        html: task.case.unit.name
                      }
                    },
                    {
                      key: {
                        html: 'Task type'
                      },
                      value: {
                        html: task.type
                      }
                    }                                     
                  ]
                })}}


              </div>
            {% endfor %}
          </div>
        {% else %}
          <p>There are no results.</p>
        {% endif %}

        {% include "_includes/pagination.njk" %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    new App.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })

    new App.ListFilter({
      container: $('.owner-filter'),
      textBox: {
        label: 'Find owner'
      }
    })

    new App.ListFilter({
      container: $('.task-name-filter'),
      textBox: {
        label: 'Find task'
      }
    })
  </script>
{% endblock %}
