{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'tasks' %}
{% set pageName = task.name %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: _case.reference,
        href: "/cases/:caseId" | replace(':caseId', _case.id)
      },
      {
        text: "Tasks",
        href: "/cases/:caseId/tasks" | replace(':caseId', _case.id)
      }
    ]
  }) }}
{% endblock beforeContent %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set taskNameDisplay %}
        {% if task.name.length > 100 %}
          {{ task.name | truncate(100) }}
        {% else %}
          {{ task.name }}
        {% endif %}
      {% endset %}

      <h1 class="govuk-heading-l">
        {{ taskNameDisplay | trim }}
        {% if task.isUrgent %}
          {{govukTag({ text: 'Urgent', classes: 'govuk-tag--red' })}}
        {% endif %}
        {# {{govukTag({ text: task.severity, classes: (task.severity | severityTagClass) })}} #}
      </h1>

      <div class="govuk-button-group">
        <a href="/cases/{{_case.id}}/tasks/{{task.id}}/complete" class="govuk-button">Complete task</a>
        {{ govukButton({
          text: "Defer",
          classes: 'govuk-button--secondary'
        }) }}
        <a href="{% if task.isUrgent %}/cases/{{_case.id}}/tasks/{{task.id}}/mark-as-not-urgent{% else %}/cases/{{_case.id}}/tasks/{{task.id}}/mark-as-urgent{% endif %}" class="govuk-button govuk-button--secondary">
          {% if task.isUrgent %}Mark as not urgent{% else %}Mark as urgent{% endif %}
        </a>
      </div>

      {% set defendantsValue %}
        {{task.case.defendants[0].firstName}} {{task.case.defendants[0].lastName}}
        {% if task.case.defendants.length > 1 %}
          and {{task.case.defendants.length - 1}} more
        {% endif %}
      {% endset %}

      {% set ownerValue %}
        {% if task.assignedToUser %}
          {{task.assignedToUser.firstName}} {{task.assignedToUser.lastName}}
        {% elif task.assignedToTeam %}
          {{task.assignedToTeam.name}} ({{task.assignedToTeam.unit.name}})
        {% endif %}
      {% endset %}

      {% set dueDateValue %}
        {{ task.dueDate | isoDateString | govukDateTime }}
        {% if task.severity == 'Overdue' or task.severity == 'Critically overdue' %}
          ({{ task.severity | lower }})
        {% else %}
          ({{ task.dueDate | daysUntil }})
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: 'Description'
            },
            value: {
              text: task.name
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Description"
                }
              ]
            }
          } if task.reminderType != null,
          {
            key: {
              text: 'Severity'
            },
            value: {
              html: govukTag({ text: task.severity, classes: (task.severity | severityTagClass) })
            }
          } if 1==2,
          {
            key: {
              text: 'Defendant'
            },
            value: {
              html: defendantsValue
            }
          },
          {
            key: {
              text: 'Reminder date'
            },
            value: {
              html: (task.reminderDate | isoDateString | govukDateTime)
            }
          } if 1==2,
          {
            key: {
              text: 'Due date'
            },
            value: {
              html: dueDateValue
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Due date"
                }
              ]
            } if task.reminderType != null
          },
          {
            key: {
              text: 'Escalation date'
            },
            value: {
              html: (task.escalationDate | isoDateString | govukDateTime)
            }
          } if 1==2,
          {
            key: {
              text: 'Custody time limit'
            },
            value: {
              html: (_case.custodyTimeLimit | isoDateString | govukDateTime) + ' (' + (_case.custodyTimeLimit | daysUntil) + ')'
            }
          } if _case.custodyTimeLimit,
          {
            key: {
              text: 'Statutory time limit'
            },
            value: {
              html: (_case.statutoryTimeLimit | isoDateString | govukDateTime) + ' (' + (_case.statutoryTimeLimit | daysUntil) + ')'
            }
          } if _case.statutoryTimeLimit,
          {
            key: {
              text: 'PACE time limit'
            },
            value: {
              html: (_case.paceTimeLimit | isoDateString | govukDateTime) + ' (' + (_case.paceTimeLimit | daysUntil) + ')'
            }
          } if _case.paceTimeLimit,
          {
            key: {
              text: 'Urgent reason'
            },
            value: {
              text: task.urgentNote
            }
          } if task.isUrgent,
          {
            key: {
              html: 'Owner'
            },
            value: {
              html: ownerValue
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Owner"
                }
              ]
            }
          },
          {
            key: {
              html: 'Unit'
            },
            value: {
              html: task.case.unit.name
            }
          },
          {
            key: {
              html: 'Reminder type'
            },
            value: {
              html: 'Reminder' if task.reminderType == 'Standard' else 'Reminder (asset recovery)'
            }
          } if task.reminderType
        ]
      })}}

      {% if hearing %}
        <h2 class="govuk-heading-m">Hearing</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: 'Date and time'
              },
              value: {
                html: hearing.startDate | isoDateString | govukDateTime
              }
            },
            {
              key: {
                text: 'Type'
              },
              value: {
                text: hearing.type
              }
            },
            {
              key: {
                text: 'Venue'
              },
              value: {
                text: hearing.venue
              }
            }
          ]
        })}}
      {% endif %}

      <h2 class="govuk-heading-m">Notes</h2>

      {{ govukButton({
        text: "Add note",
        classes: 'govuk-button--secondary',
        href: "/cases/:caseId/tasks/:taskId/notes/new" | replace(':caseId', _case.id) | replace(':taskId', task.id)
      }) }}

      {% if task.notes.length %}
        <div class="app-list">
          {% for note in task.notes %}
            {% set notePreview %}
              {% if note.description.length > 75 %}
                {{ note.description | truncate(75) }}
              {% else %}
                {{ note.description }}
              {% endif %}
            {% endset %}

            <div class="app-list__item">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ notePreview | trim }}</h3>

              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border app-summary-list--compact app-summary-list--small-text',
                rows: [
                  {
                    key: { html: 'Date added' },
                    value: { html: note.createdAt | isoDateString | govukDateTime }
                  }
                ]
              })}}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no notes.</p>
      {% endif %}

    </div>
  </div>
{% endblock %}
