{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'tasks' %}
{% set pageName = task.name %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: _case.reference,
        href: "/cases/:caseId" | replace(':caseId', _case.id)
      },
      {
        text: "Tasks",
        href: "/cases/:caseId/tasks" | replace(':caseId', _case.id)
      }
    ]
  }) }}
{% endblock beforeContent %}

{% block content %}
  {% include "_includes/success-banner.njk" %}
  
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{task.name}}</h1>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Start task"
        }) }}
        {{ govukButton({
          text: "Defer",
          classes: 'govuk-button--secondary'
        }) }}
        {{ govukButton({
          text: "Reassign",
          classes: 'govuk-button--secondary'
        }) }}
      </div>

      {% set defendantsValue %}
        {{task.case.defendants[0].firstName}} {{task.case.defendants[0].lastName}}
        {% if task.case.defendants.length > 1 %}
          and {{task.case.defendants.length - 1}} more
        {% endif %}
      {% endset %}

      {% set ownerValue %}
        {% if task.assignedToUser %}
          {{task.assignedToUser.firstName}} {{task.assignedToUser.lastName}}
        {% elif task.assignedToTeam %}
          {{task.assignedToTeam.name}} ({{task.assignedToTeam.unit.name}})
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: 'Defendant'
            },
            value: {
              html: defendantsValue
            }
          },
          {
            key: {
              html: 'Due date'
            },
            value: {
              html: task.dueDate | isoDateString | govukDateTime
            }
          },                 
          {
            key: {
              html: 'Owner'
            },
            value: {
              html: ownerValue
            }
          },
          {
            key: {
              html: 'Unit'
            },
            value: {
              html: task.case.unit.name
            }
          },
          {
            key: {
              html: 'Type'
            },
            value: {
              html: task.type
            }
          }              
        ]
      })}}

    </div>
  </div>
{% endblock %}
