{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Cases (:total)" | replace(':total', totalCases ) %}

{% block content %}
  <h1 class="govuk-heading-l">{{pageName}}</h1>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "Create case"
    }) }}

    {{ govukButton({
      text: "Export cases",
      classes: 'govuk-button--secondary'
    }) }}
  </div>  

  

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "_includes/case/filter-panel.njk" %}
    </div>
    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% include "_includes/case/search-form.njk" %}
      {# {% include "_includes/case/sort-controls.njk" %} #}

      {% if cases.length %}
         <div class="app-list">
          {% for _case in cases %}
           <div class="app-list__item">

              {% set defendantsValue %}
                {{_case.defendants[0].firstName}} {{_case.defendants[0].lastName}}
                {% if _case.defendants.length > 1 %}
                  and {{_case.defendants.length - 1}} more
                {% endif %}
              {% endset %}

              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                <div>
                  {# uncomment line below to link to case Adam's overview page #}
                  {# <a href="/cases/{{_case.id}}" class="govuk-link--no-visited-state">{{defendantsValue}}</a> #}
                  <a href="/cases/{{_case.id}}/details" class="govuk-link--no-visited-state">{{defendantsValue}}</a>
                </div>
                <div class="app-list__tag">
                  {% if _case.hasCTL %}
                    {{ govukTag({ text: 'Custody time limit', classes: 'govuk-tag--re' })}}
                  {% endif %}
                </div>
              </h2>

              {% set prosecutorValue %}
                {% if _case.prosecutors.length %}
                  {{_case.prosecutors[0].user.firstName}} {{_case.prosecutors[0].user.lastName}}
                  {% if _case.prosecutors.length > 1 %}
                    and {{_case.prosecutors.length - 1}} more
                  {% endif %}
                {% else %}
                  Unassigned
                {% endif %}
              {% endset %}

              {% set paralegalOfficerValue %}
                {% if _case.paralegalOfficers.length %}
                  {{_case.paralegalOfficers[0].user.firstName}} {{_case.paralegalOfficers[0].user.lastName}}
                  {% if _case.paralegalOfficers.length > 1 %}
                    and {{_case.paralegalOfficers.length - 1}} more
                  {% endif %}
                {% else %}
                  Unassigned
                {% endif %}
              {% endset %}

              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border app-summary-list--compact app-summary-list--small-text',
                rows: [
                  {
                    key: {
                      html: 'Reference number'
                    },
                    value: {
                      html: _case.reference
                    }
                  },
                  {
                    key: {
                      html: 'Unit'
                    },
                    value: {
                      html: _case.unit.name
                    }
                  },
                  {
                    key: {
                      html: 'Court type'
                    },
                    value: {
                      html: _case.courtType
                    }
                  } if 1==2,
                  {
                    key: {
                      html: 'Complexity'
                    },
                    value: {
                      html: _case.complexity
                    }
                  },
                  {
                    key: {
                      html: 'Prosecutor'
                    },
                    value: {
                      html: prosecutorValue
                    }
                  },
                  {
                    key: {
                      html: 'Paralegal officer'
                    },
                    value: {
                      html: paralegalOfficerValue
                    }
                  },
                  {
                    key: {
                      html: 'Hearing type'
                    },
                    value: {
                      html: _case.type
                    }
                  },
                  {
                    key: {
                      html: 'Hearing date'
                    },
                    value: {
                      html: _case.hearings[0].startDate | isoDateString | govukDateTime
                    }
                  } if _case.hearings and _case.hearings.length > 0,
                  {
                    key: {
                      html: 'Custody time limit'
                    },
                    value: {
                      html: (_case.soonestCTL | isoDateString | govukDateTime) + ' (' + (_case.soonestCTL | daysUntil) + ')'
                    }
                  } if _case.hasCTL                
                ]
              })}}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no results.</p>
      {% endif %}

      {% include "_includes/pagination.njk" %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script>
    new App.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })

    new App.ListFilter({
      container: $('.prosecutor-filter'),
      textBox: {
        label: 'Find prosecutor'
      }
    })
  </script>
{% endblock %}