{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'details' %}
{% set pageName = 'Overview' %}

{% block beforeContent %}
  {% include "_includes/case/identity-bar.njk" %}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}
  {# {% include "_includes/case/header.njk" %} #}

  {% if _case.dga and not _case.dga.outcome %}
    {% set inset %}
      <p>You need to record the Director General Assessment (DGA).</p>

      {{ govukButton({
        text: 'Record DGA',
        href: '/cases/:caseId/dga/new' | replace(':caseId', _case.id)
      }) }}
    {% endset %}

    {{ govukInsetText({
      html: inset,
      classes: 'app-inset-action govuk-!-margin-bottom-9'
    })}}
  {% endif %}

  {% include "_includes/case/dcf-navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">Overview</h1>
      <p class="govuk-body">Overview stuff will live here</p>
      {% include "_includes/case/details/main-tabs.njk" %}
      

    </div>
  </div>
{% endblock %}
