{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'overview' %}
{% set pageName = 'Overview' %}

{% block beforeContent %}
  {% include "_includes/case-identity-bar.njk" %}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}
  {% include "_includes/case-navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {# <span class="govuk-caption-l">{{_case.reference}}</span>
      <h1 class="govuk-heading-l">
        {{ pageName }}

        {{ govukTag({
          text: _case.priority,
          classes: _case.priority | priorityTagClass
        }) }}
      </h1> #}

      <h1 class="govuk-heading-l">Overview</h1>
      
      {% set lawyerValue %}
        {% if _case.lawyers.length %}
          <ul class="govuk-list govuk-list--bullet">
            {% for lawyer in _case.lawyers %}
              <li>{{lawyer.firstName}} {{lawyer.lastName}}</li>
            {% endfor %}
          </ul>
        {% else %}
          Unassigned
        {% endif %}
      {% endset %}

      {% set defendantValue %}
        
        {% if _case.defendants.length %}
          <ul class="govuk-list govuk-list--bullet">
            {% for defendant in _case.defendants %}
              <li>
                {{defendant.firstName}} {{defendant.lastName}}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          No defendants
        {% endif %}
      {% endset %}

      {% set locationValue %}
        {{appAddress({ address: _case.location })}}
      {% endset %}


      {% set lawyerActions = [
        {
          href: "/cases/:caseId/add-lawyer" | replace(':caseId', _case.id),
          text: "Add",
          visuallyHiddenText: "Lawyer"
        }
      ] %}
      {% if _case.lawyers.length %}
        {% set lawyerActions = [
          {
            href: "/cases/:caseId/add-lawyer" | replace(':caseId', _case.id),
            text: "Add",
            visuallyHiddenText: "Lawyer"
          },
          {
            href: "#" | replace(':caseId', _case.id),
            text: "Change",
            visuallyHiddenText: "Lawyer"
          }
        ] %}
      {% endif %}


      {{ govukSummaryList({
        rows: [
          {
            key: { 
              text: "Reference" 
            },
            value: { 
              html: _case.reference 
            }
          },
          {
            key: { 
              text: "Unit" 
            },
            value: { 
              html: _case.unit.name 
            }
          },
          {
            key: {
              html: 'Court type'
            },
            value: {
              html: _case.courtType
            }
          } if 1==2,
          {
            key: { 
              text: "Priority" 
            },
            value: { 
              html: _case.priority 
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/edit-priority" | replace(':caseId', _case.id),
                  text: "Change",
                  visuallyHiddenText: "Priority"
                }
              ]
            }
          } if 1==2,
          {
            key: { 
              text: "Complexity" 
            },
            value: { 
              html: _case.complexity + '<div class="govuk-!-margin-top-1"><a href="/cases/:caseId/complexity-calculation">How we calculated complexity</a></div>' | replace(':caseId', _case.id)
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/edit-complexity" | replace(':caseId', _case.id),
                  text: "Change",
                  visuallyHiddenText: "Complexity"
                }
              ]
            }
          },
          {
            key: { 
              text: "Defendants" 
            },
            value: { 
              html: defendantValue
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/edit-defendants" | replace(':caseId', _case.id),
                  text: "Change",
                  visuallyHiddenText: "Defendants"
                }
              ]
            }
          },
          {
            key: { 
              text: "Prosecutors" 
            },
            value: { 
              html: lawyerValue
            },
            actions: {
              items: lawyerActions
            }
          },
          {
            key: { 
              text: "Paralegal officers" 
            },
            value: { 
              html: 'Unassigned'
            },
            actions: {
              items: [
                {
                  href: "#" | replace(':caseId', _case.id),
                  text: "Add",
                  visuallyHiddenText: "Lawyer"
                }
              ]
            }
          },
          {
            key: { 
              text: "Hearing" 
            },
            value: { 
              html: _case.hearing.date | isoDateString | govukDateTime
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/edit-hearing" | replace(':caseId', _case.id),
                  text: "Change",
                  visuallyHiddenText: "Hearing"
                }
              ]
            }
          },
                    {
            key: { 
              text: "Type of hearing" 
            },
            value: { 
              html: _case.type 
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/edit-type" | replace(':caseId', _case.id),
                  text: "Change",
                  visuallyHiddenText: "Type"
                }
              ]
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
