{% extends "layouts/main.html" %}

{% set navId = 'prosecutors' %}
{% set pageName = "Prosecutors (:total)" | replace(':total', totalProsecutors | formatNumber) %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{pageName}}</h1>

      {% include "_includes/prosecutor-search-form.njk" %}
      {% include "_includes/prosecutor-sort-controls.njk" %}

      {% if prosecutors.length %}
         <div class="app-list">
          {% for prosecutor in prosecutors %}
           <div class="app-list__item">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                <a href="/prosecutors/{{prosecutor.id}}" class="govuk-link--no-visited-state">{{prosecutor.firstName}} {{prosecutor.lastName}}</a>
              </h2>

              {% set units %}
                {% if prosecutor.units.length %}
                  {% for item in prosecutor.units %}
                    {{item.unit.name}}
                    {%- if not loop.last -%}, {%- endif -%}
                  {% endfor %}
                {% else %}
                  No units
                {% endif %}
              {% endset %}

              {% set specialistAreas %}
                {{appValue({ attribute: prosecutor.specialistAreas, emptyLabel: 'No specialist areas' })}}
              {% endset %}

              {% set preferredAreas %}
                {{appValue({ attribute: prosecutor.preferredAreas, emptyLabel: 'No preferred areas' })}}
              {% endset %}

              {% set restrictedAreas %}
                {{appValue({ attribute: prosecutor.restrictedAreas, emptyLabel: 'No restricted areas' })}}
              {% endset %}

              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border app-summary-list--compact app-summary-list--small-text',
                rows: [
                  {
                    key: {
                      html: 'Number of cases'
                    },
                    value: {
                      html: prosecutor._count.cases or 'None'
                    }
                  } if 1==2,
                  {
                    key: {
                      html: 'Units'
                    },
                    value: {
                      html: units
                    }
                  },
                  {
                    key: {
                      html: 'Specialist areas'
                    },
                    value: {
                      html: specialistAreas
                    }
                  },
                  {
                    key: {
                      html: 'Preferred areas'
                    },
                    value: {
                      html: preferredAreas
                    }
                  },
                  {
                    key: {
                      html: 'Restricted areas'
                    },
                    value: {
                      html: restrictedAreas
                    }
                  }
                ]
              })}}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no results.</p>
      {% endif %}

      {% include "_includes/pagination.njk" %}
  </div>
</div>

{% endblock %}

