{% extends "layouts/main.html" %}
{% set navId = 'prosecutors' %}
{% set pageName = prosecutor.firstName + ' ' + prosecutor.lastName %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Prosecutors",
        href: "/prosecutors"
      },
      {
        text: pageName
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <span class="govuk-caption-l">{{_case.reference}}</span>
      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      {% set specialistAreas %}
        {% if prosecutor.specialistAreas.length %}
          <ul class="govuk-list govuk-list--bullet">
            {% for item in prosecutor.specialistAreas %}
              <li>
                {{item.name}}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          No specialist areas
        {% endif %}
      {% endset %}

      {% set preferredAreas %}
        {% if prosecutor.preferredAreas.length %}
          <ul class="govuk-list govuk-list--bullet">
            {% for item in prosecutor.preferredAreas %}
              <li>
                {{item.name}}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          No preferred areas
        {% endif %}
      {% endset %}

      {% set restrictedAreas %}
        {% if prosecutor.restrictedAreas.length %}
          <ul class="govuk-list govuk-list--bullet">
            {% for item in prosecutor.restrictedAreas %}
              <li>
                {{item.name}}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          No restricted areas
        {% endif %}
      {% endset %}

      {% set units %}
        {% if prosecutor.units.length %}
          <ul class="govuk-list govuk-list--bullet">
            {% for item in prosecutor.units %}
              <li>
                {{item.unit.name}}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          No units
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              html: prosecutor.firstName
            },
            actions: {
              items: [
                {
                  href: "/prosecutors/:prosecutorId/edit-first-name" | replace(':prosecutorId', prosecutor.id),
                  text: "Change",
                  visuallyHiddenText: "First name"
                }
              ]
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              html: prosecutor.lastName
            },
            actions: {
              items: [
                {
                  href: "/prosecutors/:prosecutorId/edit-last-name" | replace(':prosecutorId', prosecutor.id),
                  text: "Change",
                  visuallyHiddenText: "Last name"
                }
              ]
            }
          },
          {
            key: {
              text: "Units"
            },
            value: {
              html: units
            },
            actions: {
              items: [
                {
                  href: "/prosecutors/:prosecutorId/edit-units" | replace(':prosecutorId', prosecutor.id),
                  text: "Change",
                  visuallyHiddenText: "Units"
                }
              ]
            }
          },
          {
            key: {
              text: "Working pattern"
            },
            value: {
              html: 'Monday, Tuesday, Wednesday, Thursday'
            },
            actions: {
              items: [
                {
                  href: "/prosecutors/:prosecutorId/edit-working-pattern" | replace(':prosecutorId', prosecutor.id),
                  text: "Change",
                  visuallyHiddenText: "Working pattern"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Specialist areas</h2>

      {% if prosecutor.specialistAreas.length == 0 and prosecutor.preferredAreas.length == 0 and prosecutor.restrictedAreas.length == 0 %}
        {{ govukButton({
          text: "Add specialist areas",
          href: '/prosecutors/:prosecutorId/specialist-areas/new' | replace(':prosecutorId', prosecutor.id)
        }) }}
      {% else %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Specialist areas"
              },
              value: {
                html: specialistAreas
              },
              actions: {
                items: [
                  {
                    href: "/prosecutors/:prosecutorId/edit-preferences/specialist-areas" | replace(':prosecutorId', prosecutor.id),
                    text: "Change",
                    visuallyHiddenText: "Specialist areas"
                  }
                ]
              }
            },
            {
              key: {
                text: "Preferred areas"
              },
              value: {
                html: preferredAreas
              },
              actions: {
                items: [
                  {
                    href: "/prosecutors/:prosecutorId/edit-preferences/preferred-areas" | replace(':prosecutorId', prosecutor.id),
                    text: "Change",
                    visuallyHiddenText: "Preferred areas"
                  }
                ]
              }
            },
            {
              key: {
                text: "Restriced areas"
              },
              value: {
                html: restrictedAreas
              },
              actions: {
                items: [
                  {
                    href: "/prosecutors/:prosecutorId/edit-preferences/restricted-areas" | replace(':prosecutorId', prosecutor.id),
                    text: "Change",
                    visuallyHiddenText: "Restricted areas"
                  }
                ]
              }
            }
          ]
        }) }}
      {% endif %}

      <h2 class="govuk-heading-m">Leave</h2>

      {{ govukButton({
        text: "Add leave"
      }) }}

      <ul class="govuk-list govuk-list--bullet">
        <li>
          1 December
        </li>
        <li>
          15 December 2025 to 16 December 2025
        </li>
      </ul>




    </div>
  </div>
{% endblock %}
