{{ xGovukSecondaryNavigation({
  classes: 'govuk-!-margin-bottom-6 app-case-navigation',
  visuallyHiddenTitle: "Secondary menu",
  items: [{
    text: "Overview",
    href: "/cases/:caseId" | replace(':caseId', _case.id),
    current: secondaryNavId == 'overview'
  }, {
    text: "Witnesses",
    href: "/cases/:caseId/witnesses" | replace(':caseId', _case.id),
    current: secondaryNavId == 'witnesses'
  }, {
    text: "Defendants",
    href: "#"
  }, {
    href: "/cases/:caseId/material" | replace(':caseId', _case.id),
    text: "Material"
  }, {
    href: "#",
    text: "Reviews"
  }, {
    text: "DGA",
    href: "/cases/:caseId/dga" | replace(':caseId', _case.id),
    current: secondaryNavId == 'dga'
  } if _case.dga and 1==2,
  {
    text: "Activity",
    href: "/cases/:caseId/activity" | replace(':caseId', _case.id),
    current: secondaryNavId == 'activity'
  }]
})}}