{% block footer %}
  {% set footerHtml %}
    <h2 class="govuk-heading-m">This is a prototype</h2>

    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype">
          Manage your prototype
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype/clear-data">
          Clear data
        </a>
      </li>
      {# <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/clear-data?returnUrl={{path}}">
          Clear data
        </a>
      </li> #}
    </ul>

     <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">
          Cookies
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">
          Privacy
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">
          Terms and Conditions
        </a>
      </li> 
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">
          Accessibility statement
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">
          Contact
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">
          Feedback
        </a>
      </li>
    </ul>
  {% endset %}

  {{ govukFooter({
    meta: {
      html: footerHtml
    }
  }) }}
{% endblock %}