{% block footer %}
  {% set footerHtml %}

  <!-- for version reflecting live, there is no branding and different header for page-->
  {% if data['state'] == "current" %}
  <p class="govuk-!-font-size-16">This is a prototype of the CPS Work Management service.
    </p>

    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype">
          Manage your prototype
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype/clear-data">
          Clear data
        </a>
      </li>
      </ul>

    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">
          Cookies
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">
          Privacy
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">
          Terms and Conditions
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">
          Accessibility Statement
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">
          Contact
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#">
          Feedback
        </a>
      </li>
    </ul>
    {% else %}

    <h2 class="govuk-heading-m">Get help</h2>
    <p class="govuk-!-font-size-16">Email: <a href="#">help@cps.gov.uk</a><br>
      You’ll get a response within 5 working days.
    </p>

    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype">
          Manage your prototype
        </a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype/clear-data">
          Clear data
        </a>
      </li>
      {# <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/clear-data?returnUrl={{path}}">
          Clear data
        </a>
      </li> #}
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/accessibility">
          Accessibility
        </a>
      </li>
    </ul>
    {% endif %}
  {% endset %}

  {{ govukFooter({
    meta: {
      html: footerHtml
    }
  }) }}
{% endblock %}