{% if not hideNav %}

{% if data['state'] == "current" %}

{{ govukServiceNavigation({
    navigation: [
      {
        href: "/tasks",
        text: "Tasks",
        active: navId == 'tasks'
      },
      {
        href: "/cases",
        text: "Cases",
        active: navId == 'cases'
      },
      {
        href: "/offence-codes",
        text: "Offence Codes",
        active: navId == 'offenceCodes'
      }
    ]
  }) }}

{% else %}

{{ govukServiceNavigation({
  navigation: [
    {
      href: "/home",
      text: "Home",
      active: navId == 'home'
    },
    {
      href: "/cases",
      text: "Cases",
      active: navId == 'cases'
    },
    {
      href: "/tasks",
      text: "Tasks",
      active: navId == 'tasks'
    }       
  ]
}) }}

{% endif %}

{% endif %}

