{% if not hideNav %}

{% if data['state'] == "current" %}

{{ govukServiceNavigation({
    navigation: [
      {
        href: "/tasks",
        text: "Tasks",
        active: navId == 'tasks'
      },
      {
        href: "/cases",
        text: "Cases",
        active: navId == 'cases'
      },
      {
        href: "/offence-codes",
        text: "Offence Codes",
        active: navId == 'offenceCodes'
      }
    ]
  }) }}

{% else %}

{{ govukServiceNavigation({
  navigation: [
    {
      href: "/overview",
      text: "Overview",
      active: navId == 'overview'
    },
    {
      href: "/cases",
      text: "Cases",
      active: navId == 'cases'
    },
    {
      href: "/tasks",
      text: "Tasks",
      active: navId == 'tasks'
    },
    {
      href: "/lawyers",
      text: "Prosecutors",
      active: navId == 'lawyers'
    },
    {
      href: "/paralegals",
      text: "Paralegal officers",
      active: navId == 'paralegalOfficers'
    },
    {
      href: "/activity",
      text: "Activity",
      active: navId == 'activity'
    }        
  ]
}) }}

{% endif %}

{% endif %}

