{% set identityTitle %}

  {{ govukBreadcrumbs({
    classes: 'govuk-!-margin-top-0 govuk-!-margin-bottom-0',
    items: [
      {
        text: _case.reference,
        href: "/cases/:caseId" | replace(':caseId', _case.id)
      },
      {
        text: 'Witnesses',
        href: "/cases/:caseId/witnesses" | replace(':caseId', _case.id)
      },
      {
        text: pageName
      }
    ]
  }) }}

  {{ govukTag({ text: 'Attending court' })}}
{% endset %}
{{ appIdentityBar({
  title: {
    html: identityTitle
  }
})}}