{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "_components/checkbox-filter/macro.njk" import appCheckboxFilter %}

<div class="app-filter">
  <div class="app-filter__header">
    <h2 class="govuk-heading-m">Filter</h2>
    <div class="app-filter__header-action"></div>
  </div>

  <div class="app-filter__content">
    {% if selectedFilters.categories.length %}
      <div class="app-filter__selected">
        <div class="app-filter__heading-group">
          <h2 class="govuk-heading-m">Selected filters</h2>
          <p><a class="govuk-link govuk-link--no-visited-state" href="/directions/clear-filters">Clear filters</a></p>
        </div>

        {% for category in selectedFilters.categories %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{category.heading.text}}</h3>
          <ul class="app-filter-tags">
            {% for item in category.items %}
              <li><a class="app-filter__tag" href="{{item.href}}">{{item.text}}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}

    <div class="app-filter__options">
      <form method="get" novalidate>

        {{ govukButton({
          text: "Apply filters"
        }) }}

        {{ appCheckboxFilter({
          idPrefix: "directionListFilters[prosecutors]",
          name: "directionListFilters[prosecutors]",
          classes: "govuk-checkboxes--small prosecutor-filter",
          fieldset: {
            legend: {
              text: "Prosecutor",
              classes: "govuk-fieldset__legend--s"
            }
          },
          maxHeight: true,
          items: prosecutorItems,
          values: selectedProsecutorFilters,
          selectedItems: selectedProsecutorItems
        }) }}

        {{ appCheckboxFilter({
          idPrefix: "directionListFilters[paralegalOfficers]",
          name: "directionListFilters[paralegalOfficers]",
          classes: "govuk-checkboxes--small paralegal-officer-filter",
          fieldset: {
            legend: {
              text: "Paralegal officer",
              classes: "govuk-fieldset__legend--s"
            }
          },
          maxHeight: true,
          items: paralegalOfficerItems,
          values: selectedParalegalOfficerFilters,
          selectedItems: selectedParalegalOfficerItems
        }) }}

        {{ govukCheckboxes({
          idPrefix: "directionListFilters[units]",
          name: "directionListFilters[units]",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "Unit",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: unitItems,
          values: selectedUnitFilters
        }) }}

        {{ govukCheckboxes({
          idPrefix: "directionListFilters[dateStatus]",
          name: "directionListFilters[dateStatus]",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "Due",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: dateStatusItems,
          values: selectedDateStatusFilters
        }) }}

        {{ govukCheckboxes({
          idPrefix: "directionListFilters[assignee]",
          name: "directionListFilters[assignee]",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "Assignee",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: assigneeItems,
          values: selectedAssigneeFilters
        }) }}
      </form>
    </div>
  </div>
</div>
