{# _includes/case/details/main-tabs.njk #}
{% set overviewHtml %}<h3 class="govuk-heading-m">Overview</h3>{% endset -%}

{% set caseOutlineHtml %}
  <h3 class="govuk-heading-m">Case outline</h3>
  {% include "_includes/case/details/outline-panels.njk" %}
{% endset -%}

{% set defendantsHtml %}<h3 class="govuk-heading-m">Defendants</h3>{% endset -%}
{% set witnessesHtml  %}<h3 class="govuk-heading-m">Witnesses</h3>{% endset -%}

{% set materialsHtml %}
  <h3 class="govuk-heading-m">Materials</h3>
  {# <p class="govuk-hint">[materials tab reached]</p> #}
  {% include "_includes/case/material/material-panel.njk" %}
{% endset -%}

{% set disclosureHtml %}<h3 class="govuk-heading-m">Disclosure</h3>{% endset -%}

{{ govukTabs({
  id: "case-tabs",
  items: [
    { label: "Overview", id: "overview", panel: { html: overviewHtml } },
    { label: "Outline", id: "case-outline", panel: { html: caseOutlineHtml } },
    { label: "Defendants",   id: "defendants",   panel: { html: defendantsHtml } },
    { label: "Witnesses",    id: "witnesses",    panel: { html: witnessesHtml } },
    { label: "Materials",    id: "materials",    panel: { html: materialsHtml } },
    { label: "Disclosure",   id: "disclosure",   panel: { html: disclosureHtml } }
  ]
}) }}