{# ----- Layout ---- call the material-panel macro below ----- #}

{% block content %}
  {{ appMaterialPanel({ caseMaterials: data.caseMaterials }) }}

  {# Notes side-tray modal for materials viewer #}
  {% include "_includes/case/material/notes-modal.njk" %}

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/material-viewer.js" defer></script>
  <script src="/public/javascripts/components/material-search.js" defer></script>
{% endblock %}
