{% set accordionItem %}
<div class="dcf-materials-subhead dcf-materials-subhead--sticky">Defendant</div>
<ul class="dcf-material-list">
  <li>
    <article class="dcf-material-card">
      <div class="dcf-material-card__main">
        <span class="dcf-material-card__badge">New</span>
        <h3 class="dcf-material-card__title"><a href="/materials/123">PRE CONS D</a></h3>
        <p class="dcf-material-card__meta">Date: 02/06/2020</p>
      </div>
      <div class="dcf-material-card__comment is-unread">
        <img src="/public/images/comment-bubble.svg" alt="" aria-hidden="true">
      </div>
    </article>
  </li>
</ul>

{% endset%}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">  

    {{ _case.defendants | log }}

       	{{ govukAccordion({
					id: "materials",
					classes: "dcf-accordion",
					items: [
						{ heading: { text: "Statements" }, content: { html: accordionItem } },
						{ heading: { text: "Exhibits" },   content: { html: accordionItem } },
						{ heading: { text: "MG forms" },   content: { html: accordionItem } },
						{ heading: { text: "Other stuff" },content: { html: accordionItem } }
					]
				}) }}

    
    </div>

    <div class="govuk-grid-column-two-thirds">
        {% include "_includes/document/search-form.njk" %}
    </div>
    
</div>