statements
-----------
/public/files/stmt_BLAYNEE_2034_1_JUNE_mg11.pdf
/public/files/stmt_Lucy_Doyle_MG11.pdf
/public/files/stmt_Shelagh_McLove_MG11.pdf
/public/files/Shelagh_McLove_VPS_mg11.pdf
/public/files/MG11_Shelagh_MCLOVE_retraction.pdf

exhibits
-----------
/public/files/MG12.pdf
/public/files/MG00.pdf
/public/files/MG20_5_JUNE.pdf
/public/files/defendants.pdf
/public/files/MG12.pdf

unused
------------
/public/files/MG06_3June.pdf
/public/files/MG06_10june.pdf
/public/files/UNUSED_1_STORM_LOG_1881_01.6.20_EDITED_2020-11-23_MCLOVE.pdf
/public/files/SDC_items_to_be_Disclosed_MCLOVE.pdf

