{% extends "layouts/main.html" %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}

{% extends "layouts/main.html" %}
{% from "moj/components/button-menu/macro.njk" import mojButtonMenu %}

{% set bodyClasses = "dcf-materials-wide" %}

{% set navId = 'cases' %}
{% set secondaryNavId = 'materials' %}

{# {% set pageName = 'Materials' %} #}
{% set pageName = defendantsValue %}

{% set defendantsValue %}
  {{ _case.defendants[0].firstName }} {{ _case.defendants[0].lastName }}
  {% if _case.defendants.length > 1 %}and {{ _case.defendants.length - 1 }} more{% endif %}
{% endset %}


{% set pageName = defendantsValue %}

 {% block beforeContent %}
  {# {% include "_includes/case/identity-bar.njk" %} #}
{% endblock %}

{% block content %}
  
  {% include "_includes/success-banner.njk" %}
  {% include "_includes/case/dcf-navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
        <span class="govuk-caption-m">{{_case.reference}}</span>
        <h1 class="govuk-heading-m">{{pageName}}</h1>
        </div>
        <div class="moj-page-header-actions__actions">
          <div class="moj-button-group moj-button-group--inline">
            <button type="submit" class="govuk-button govuk-button--primary">Complete triage</button>
            <button type="submit" class="govuk-button govuk-button--secondary">Share collection</button>
          </div>
        </div>
      </div>

      {% include "_includes/case/material/main-tabs.njk" %}
    </div>
  </div>
{% endblock %}


