{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Confirm that you want to mark statement as Section 9" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{_case.reference}} - {{witness.firstName}} {{witness.lastName}} - statement number {{witnessStatement.number}}</span>
      <h1 class="govuk-heading-l">{{pageName}}</h1>
      <form method="post">
        {{ govukButton({
          text: "Mark statement as Section 9"
        }) }}
      </form>
      <p><a href="/cases/{{_case.id}}/witnesses/{{witness.id}}">Cancel</a></p>
    </div>
  </div>
{% endblock %}