{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Check details and mark as urgent" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">{{_case.reference}}</span>
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Task"
            },
            value: {
              text: task.name
            }
          },
          {
            key: {
              text: "Reason for marking as urgent"
            },
            value: {
              text: urgentNote
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/tasks/:taskId/mark-as-urgent" | replace(':caseId', _case.id) | replace(':taskId', task.id),
                  text: "Change",
                  visuallyHiddenText: "Reason"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Mark as urgent"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
