{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'details' %}
{% set pageName = 'Overview' %}

{% block beforeContent %}
  {% include "_includes/case/identity-bar.njk" %}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}
  {# {% include "_includes/case/header.njk" %} #}

  {% if _case.dga and not _case.dga.outcome %}
    {% set inset %}
      <p>You need to record the Director General Assessment (DGA).</p>

      {{ govukButton({
        text: 'Record DGA',
        href: '/cases/:caseId/dga/new' | replace(':caseId', _case.id)
      }) }}
    {% endset %}

    {{ govukInsetText({
      html: inset,
      classes: 'app-inset-action govuk-!-margin-bottom-9'
    })}}
  {% endif %}

  {% include "_includes/case/dcf-navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">Overview</h1>
      
      {% set prosecutorValue %}
        {% if _case.prosecutors.length %}
          <ul class="govuk-list govuk-list--bullet">
            {% for cp in _case.prosecutors %}
              <li>{{cp.user.firstName}} {{cp.user.lastName}}</li>
            {% endfor %}
          </ul>
        {% else %}
          Unassigned
        {% endif %}
      {% endset %}

      {% set paralegalOfficerValue %}
        {% if _case.paralegalOfficers.length %}
          <ul class="govuk-list govuk-list--bullet">
            {% for cpo in _case.paralegalOfficers %}
              <li>{{cpo.user.firstName}} {{cpo.user.lastName}}</li>
            {% endfor %}
          </ul>
        {% else %}
          Unassigned
        {% endif %}
      {% endset %}

      {% set defendantValue %}
        
        {% if _case.defendants.length %}
          <ul class="govuk-list govuk-list--bullet">
            {% for defendant in _case.defendants %}
              <li>
                {{defendant.firstName}} {{defendant.lastName}}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          No defendants
        {% endif %}
      {% endset %}

      {% set locationValue %}
        {{appAddress({ address: _case.location })}}
      {% endset %}


      {% set prosecutorActions = [
        {
          href: "/cases/:caseId/add-prosecutor" | replace(':caseId', _case.id),
          text: "Add",
          visuallyHiddenText: "Prosecutor"
        }
      ] %}
      {% if _case.prosecutors.length %}
        {% set prosecutorActions = [
          {
            href: "/cases/:caseId/add-prosecutor" | replace(':caseId', _case.id),
            text: "Add",
            visuallyHiddenText: "Prosecutor"
          },
          {
            href: "#" | replace(':caseId', _case.id),
            text: "Change",
            visuallyHiddenText: "Prosecutor"
          }
        ] %}
      {% endif %}

      {% set paralegalOfficerActions = [
        {
          href: "/cases/:caseId/add-paralegal-officer" | replace(':caseId', _case.id),
          text: "Add",
          visuallyHiddenText: "Paralegal officer"
        }
      ] %}
      {% if _case.paralegalOfficers.length %}
        {% set paralegalOfficerActions = [
          {
            href: "/cases/:caseId/add-paralegal-officer" | replace(':caseId', _case.id),
            text: "Add",
            visuallyHiddenText: "Paralegal officer"
          },
          {
            href: "#" | replace(':caseId', _case.id),
            text: "Change",
            visuallyHiddenText: "Paralegal officer"
          }
        ] %}
      {% endif %}


      {{ govukSummaryList({
        rows: [
          {
            key: { 
              text: "Reference" 
            },
            value: { 
              html: _case.reference 
            }
          },
          {
            key: { 
              text: "Unit" 
            },
            value: { 
              html: _case.unit.name 
            }
          },
          {
            key: {
              html: 'Court type'
            },
            value: {
              html: _case.courtType
            }
          } if 1==2,
          {
            key: { 
              text: "Priority" 
            },
            value: { 
              html: _case.priority 
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/edit-priority" | replace(':caseId', _case.id),
                  text: "Change",
                  visuallyHiddenText: "Priority"
                }
              ]
            }
          } if 1==2,
          {
            key: { 
              text: "Complexity" 
            },
            value: { 
              html: _case.complexity + '<div class="govuk-!-margin-top-1"><a href="/cases/:caseId/complexity-calculation">How we calculated complexity</a></div>' | replace(':caseId', _case.id)
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/edit-complexity" | replace(':caseId', _case.id),
                  text: "Change",
                  visuallyHiddenText: "Complexity"
                }
              ]
            }
          },
          {
            key: { 
              text: "Defendants" 
            },
            value: { 
              html: defendantValue
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/edit-defendants" | replace(':caseId', _case.id),
                  text: "Change",
                  visuallyHiddenText: "Defendants"
                }
              ]
            }
          },
          {
            key: {
              text: "Prosecutors"
            },
            value: {
              html: prosecutorValue
            },
            actions: {
              items: prosecutorActions
            }
          },
          {
            key: {
              text: "Paralegal officers"
            },
            value: {
              html: paralegalOfficerValue
            },
            actions: {
              items: paralegalOfficerActions
            }
          },
          {
            key: {
              text: "Hearing"
            },
            value: {
              html: _case.hearings[0].startDate | isoDateString | govukDateTime
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/edit-hearing" | replace(':caseId', _case.id),
                  text: "Change",
                  visuallyHiddenText: "Hearing"
                }
              ]
            }
          } if _case.hearings and _case.hearings.length > 0,
                    {
            key: {
              text: "Type of hearing"
            },
            value: {
              html: _case.type
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/edit-type" | replace(':caseId', _case.id),
                  text: "Change",
                  visuallyHiddenText: "Type of hearing"
                }
              ]
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
