{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Lawyers" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{_case.reference}} - update assigned lawyers</span>
      <form method="post">
        {{ govukCheckboxes({
          name: "editLawyers[lawyers]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          values: assignedLawyers,
          items: lawyerItems
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}