{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'defendants' %}
{% set pageName = "Defendants (:total)" | replace(':total', _case.defendants.length) %}

{% block beforeContent %}
  {% include "_includes/case/identity-bar.njk" %}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}
  {# {% include "_includes/case/header.njk" %} #}
  {% include "_includes/case/material/navigation.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {% if _case.defendants.length %}
        <div class="app-list">
          {% for defendant in _case.defendants %}
          <div class="app-list__item">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                <a href="/cases/{{_case.id}}/defendants/{{defendant.id}}" class="govuk-link--no-visited-state">{{defendant.firstName}} {{defendant.lastName}}</a>
              </h2>

              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border app-summary-list--compact app-summary-list--small-text',
                rows: [
                  {
                    key: {
                      html: 'First name'
                    },
                    value: {
                      html: defendant.firstName
                    }
                  },
                  {
                    key: {
                      html: 'Last name'
                    },
                    value: {
                      html: defendant.lastName
                    }
                  }
                ]
              })}}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no defendants.</p>
      {% endif %}

    </div>
  </div>
{% endblock %}
