{% extends "layouts/main.html" %}

{% set hideNav = true %}

{% set pageName = "Prototype" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>
      
      {{ govukButton({
        text: "Start prototype",
        isStartButton: true,
        href: '/account/sign-in'
      }) }}

      {{ govukButton({
        text: "A button"
      }) }}

      {{ govukTabs({
        items: [
          {
            label: "Tab one",
            id: "tab-1",
            panel: {
              html: tab1Html
            }
          },
          {
            label: "Tab two",
            id: "tab-2",
            panel: {
              html: tab2Html
            }
          },
          {
            label: "Tab three",
            id: "tab-3",
            panel: {
              html: tab3Html
            }
          }
        ]
      }) }}



    </div>
  </div>
{% endblock %}
