<span class="govuk-caption-l">{{_case.reference}}</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-9">
  {{_case.defendants[0].firstName}} {{_case.defendants[0].lastName}} 
  {% if _case.defendants.length > 1 %}
    and {{_case.defendants.length - 1}} more
  {% endif %}

  {% if _case.hasCTL %}
    {{ govukTag({ text: 'Custody time limit', classes: 'govuk-tag--red' })}}
  {% endif %}
</h1>