{% set identityTitle %}

  <span class="govuk-!-margin-right-1">{{_case.reference}}</span>
  <b class="govuk-!-margin-right-1">
    {{_case.defendants[0].firstName}} {{_case.defendants[0].lastName}}
    {% if _case.defendants.length > 1 %}
      and {{_case.defendants.length - 1}} more
    {% endif %}
  </b>

  {% if _case.custodyTimeLimit %}
    {{ govukTag({ text: 'Custody time limit', classes: 'govuk-tag--red' })}}
  {% endif %}
  {% if _case.statutoryTimeLimit %}
    {{ govukTag({ text: 'Statutory time limit', classes: 'govuk-tag--orange' })}}
  {% endif %}
  {% if _case.paceTimeLimit %}
    {{ govukTag({ text: 'PACE time limit', classes: 'govuk-tag--yellow' })}}
  {% endif %}
{% endset %}
{{ appIdentityBar({
  title: {
    html: identityTitle
  },
  menus: [{
    items: [{
      text: 'Record DGA outcome',
      action: '#'
    }]
  }] if 1==2
})}}