{% set identityTitle %}
  
  <span class="govuk-!-margin-right-1">{{_case.reference}}</span>
  <b class="govuk-!-margin-right-1">
    {{_case.defendants[0].firstName}} {{_case.defendants[0].lastName}} 
    {% if _case.defendants.length > 1 %}
      and {{_case.defendants.length - 1}} more
    {% endif %}
  </b>

  {% if _case.timeLimitType == 'CTL' %}
    {{ govukTag({ text: 'Custody time limit' })}}
  {% elif _case.timeLimitType == 'STL' %}
    {{ govukTag({ text: 'Statutory time limit'})}}
  {% elif _case.timeLimitType == 'PACE' %}
    {{ govukTag({ text: 'PACE time limit' })}}
  {% endif %}
{% endset %}
{{ appIdentityBar({
  title: {
    html: identityTitle
  },
  menus: [{
    items: [{
      text: 'Record DGA outcome',
      action: '#'
    }]
  }] if 1==2
})}}