{% set identityTitle %}
  
  <span class="govuk-!-margin-right-1">{{_case.reference}}</span>
  <b class="govuk-!-margin-right-1">
    {{_case.defendants[0].firstName}} {{_case.defendants[0].lastName}} 
    {% if _case.defendants.length > 1 %}
      and {{_case.defendants.length - 1}} more
    {% endif %}
  </b>

  {% if _case.ctl %}
    {{ govukTag({ text: 'CTL', classes: 'govuk-tag--red' })}}
  {% endif %}
{% endset %}
{{ appIdentityBar({
  title: {
    html: identityTitle
  },
  menus: [{
    items: [{
      text: 'Record DGA outcome',
      action: '#'
    }]
  }] if 1==2
})}}